.ItemListContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-left: 70px;
	padding: 25px;
}
.ItemList {
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}